.modalWindow {
    position: absolute;
    top: 70px;
    right: 50px;
}

.wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

    text-align: center;
    align-items: center;
    min-height: 100vh;
}

.menu {
    background: linear-gradient(135deg, #012714, #73d7ce 46%, #2ec4b6 50%, #20897f 53%, #b8ebe6 76%, #2ec4b6 87%, #1b1b1b);

    min-height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
}

.menu a {
    color: gold;
    font-size: 16px;
    text-decoration: none;
    font-weight: 400;
}

.content {
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    margin: 60px 0;
}

.menu a[class='active'] {
    text-decoration: none;
    color: red;
}

.footer {
    height: 40px;
    background-color: #282c34;
    display: flex;
    justify-content: center;
    padding-right: 28px;
    font-weight: 600;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100vw;
    z-index: 2;
    color: gold;
}
.footer h4{
    margin: 10px;
}
    .modalWindowButton {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.modalWindowButton:before {
    content: "";
    background: linear-gradient(
            45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-modalWindowButton {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.modalWindowButton:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}