.companyProfileWrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    padding: 40px 20px;
}
.companyDescribe{
    display: flex;
    width: 60%;
    flex-direction: column;
}

.company_img {
    width: 30%;
}

.company_img img {
    width: 100%;
}

.companyProfileWrapper h4{
    margin: 5px;
}
.membersWrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;

}