.companyListWrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}
.companyListTitle{

    width: 100%;
}
.companyList{
    display: flex;
    flex-wrap: wrap;
    gap: 20px
}
.currentCompanyWrapper{
    width: 55%;
}
.paginationSelectedButton{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}