.profileWrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 20px;
}


.profileFormUpdate {
    position: absolute;
    left: 20vw;
    width: 60vw;
    height: 60vh;
    background: linear-gradient(135deg, rgb(181, 189, 200) 0%, rgba(130, 140, 149, 0.98) 36%, rgba(40, 52, 59, 0.95) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
