.profileDescription {
    width: 60%;
}

.profileAvatar {
    width: 37%;
}

.profileAvatar img {
    width: 50%;
}

.userOptionsButton {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: space-around;
    width: 100%;
    box-sizing: border-box;

    margin: 10px;
}

.userButtonAction {
    color: #fff;
    background-color: #38D2D2;
    background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
    box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0 3px 9px rgba(255, 255, 255, 0.3), inset 0 1px 1px rgba(255, 255, 255, 0.6), inset 0 -8px 36px rgba(0, 0, 0, 0.3), inset 0 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
    border-radius: 14px;
    font-weight: bold;
    font-size: 14px;
    width: 18%;
    border: 0;

    box-sizing: border-box;
    padding: 5px 10px;


    user-select: none;
    touch-action: manipulation;
    cursor: pointer;
}
.userSystemRating{
    display: flex;
    gap: 10px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}