.inputWrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 15px;
}

.inputWrapper input {
    width: 40%;
    font-weight: bolder;
    font-size: 16px;
}

.buttonUpdate {
    appearance: none;
    background-color: #FFFFFF;
    border-radius: 40em;
    border-style: none;
    box-shadow: #ADCFFF 0 -12px 6px inset;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: -.24px;
    outline: none;
    padding: 5px 1.3rem;
    margin: 10px;
    quotes: auto;
    text-align: center;
    text-decoration: none;
    transition: all .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.buttonUpdate:hover {
    background-color: #FFC229;
    box-shadow: #FF6314 0 -6px 8px inset;
    transform: scale(1.125);
}

.buttonUpdate:active {
    transform: scale(1.025);
}

@media (min-width: 768px) {
    .buttonUpdate {
        font-size: 1.5rem;
        padding: 5px 2rem;
    }
}